<ul class="list-unstyled strength-circles">
  <li class="round strong-circle-position"
    [ngClass]="passwordStrengthColor == passwordStrengthColorSet.STRONG_PASSWORD_COLOR ? 'bg-success' : ''"
    data-toggle="tooltip" data-placement="right" title="Strong"></li>
  <li class="round medium-circle-postion"
    [ngClass]="passwordStrengthColor == passwordStrengthColorSet.MEDIUM_PASSWORD_COLOR ? 'bg-warning' : (passwordStrengthColor == passwordStrengthColorSet.STRONG_PASSWORD_COLOR ? 'bg-success' : '')"
    data-toggle="tooltip" data-placement="right" title="Medium"></li>
  <li class="round weak-circle-position"
    [ngClass]="passwordStrengthColor == passwordStrengthColorSet.WEAK_PASSWORD_COLOR ? 'bg-danger' : (passwordStrengthColor == passwordStrengthColorSet.MEDIUM_PASSWORD_COLOR ? 'bg-warning' : (passwordStrengthColor == passwordStrengthColorSet.STRONG_PASSWORD_COLOR ? 'bg-success' : ''))"
    data-toggle="tooltip" data-placement="right" title="Weak"></li>
</ul>