.strength-circles {
    position: absolute;
    top: 0;
    right: 4px;
    width: 10px;
    height: 37px;
    z-index: 3;
}

.strength-circles .round {
    position: absolute;
    background-color:transparent;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    transition: background-color 0.25s ease-in;
}

.weak-circle-position {
    bottom: 17%;
}

.medium-circle-postion {
    bottom: 41%;
}

.strong-circle-position {
    bottom: 66%;
}