//Password strength
.password-wrapper .input {
    padding: 10px 25px 10px 15px;
    font: small-caption;
    font-size: 15px;
    width: 100% ;
    color: #34495e;
    outline: none;
}



.strength-circles {
    position: absolute;
    top: 0;
    right: 4px;
    width: 10px;
    height: 37px;
    z-index: 3;
}

.strength-circles .round {
    position: absolute;
    background-color:transparent;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    transition: background-color 0.25s ease-in;
}

.bg-red {
    background-color: #e74c3c !important;
}

.bg-orange {
    background-color: #e67e22 !important;
}

.bg-green {
    background-color: #2ecc71 !important;
}

.weak-circle-position {
    bottom: 17%;
}

.medium-circle-postion {
    bottom: 41%;
}

.strong-circle-position {
    bottom: 66%;
}


.is-invalid {
    border-left: solid 6px red;
}

.material-icons {
    display: inline-flex;
    vertical-align: middle;
}  

.display-none{
    display: none;
    margin-left: -1em;
}

.display-block{
    display: block;
    margin-left: -1em;
}