<div class="row widthSet">
  <div class="col-md-12 main-wrap">
    <div class="row blue">
      <div class="col-md-5 aside-Left-width">
        <form [formGroup]="formChangePassword" (ngSubmit)="submitNewPswd()" autocomplete="off">
          <h5 class="headfont text-white">{{'changePassword' | translate }}</h5>

          <div class="row">

            <div class="col-md-12 mb-3">
              <label class="labelfont" for="oldPswd">{{'oldPswd' | translate }}</label>
              <div class="password-wrapper position-relative">
                <input id="oldPswd" class="ett-inpt h-auto bg-transparent text-light w-100 border-0 p-0 form-control"
                  type="password" formControlName="oldPswd" placeholder="{{'oldPswd' | translate }}" required autocomplete="off"
                  [type]="showOldPswd ? 'text' : 'password'" />
                <app-show-password (showPswd)="showPassword($event, 'showOldPswd')"></app-show-password>

                <div *ngIf="form.oldPswd.touched">
                  <label class="text-danger" *ngIf="form.oldPswd.hasError('required')">
                    {{'oldPswdAlert' | translate }}
                  </label>

                  <label class="text-danger" *ngIf="showOldPswd && !form.oldPswd.errors">
                    {{'showPswdAlert' | translate }}
                  </label>
                </div>

                <!-- <app-password-strength-bar [passwordToCheck]="form.oldPswd.value"></app-password-strength-bar> -->
              </div>
            </div>

            <div class="col-md-12 mb-3">
              <label class="labelfont" for="newPswd">{{'newPswd' | translate }}</label>
              <div class="password-wrapper position-relative">
                <input id="newPswd" class="ett-inpt h-auto bg-transparent text-light w-100 border-0 p-0 form-control"
                  type="password" formControlName="newPswd" placeholder="{{'newPswd' | translate }}" required autocomplete="new-password"
                  [type]="showNewPswd ? 'text' : 'password'" />
                <app-show-password (showPswd)="showPassword($event, 'showNewPswd')"></app-show-password>

                <div *ngIf="form.newPswd.touched">
                  <div
                    [ngClass]="form.newPswd.hasError('required') || form.newPswd.hasError('hasAllCase') ? 'display-block' : 'display-none'">

                    <label class="col"
                      [ngClass]="form.newPswd.hasError('required') || form.newPswd.hasError('minlength')  ? 'text-danger' : 'text-success'">
                      <i class="material-icons" [ngClass]="form.newPswd.hasError('required') ||
                        form.newPswd.hasError('minlength') ? 'fa fa-times' :
                        'fa fa-check'"></i>
                      {{'minCharacterAlert' | translate}}
                    </label>

                    <label class="col"
                      [ngClass]="form.newPswd.hasError('required') || form.newPswd.hasError('hasNumber')  ? 'text-danger' : 'text-success'">
                      <i class="material-icons" [ngClass]="form.newPswd.hasError('required') ||
                        form.newPswd.hasError('hasNumber') ? 'fa fa-times' :
                        'fa fa-check'"></i>
                      {{'numberAlert' | translate}}
                    </label>

                    <label class="col"
                      [ngClass]="form.newPswd.hasError('required') || form.newPswd.hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
                      <i class="material-icons" [ngClass]="form.newPswd.hasError('required') ||
                        form.newPswd.hasError('hasCapitalCase') ? 'fa fa-times' :
                        'fa fa-check'"></i>
                      {{'capitalCaseAlert' | translate}}
                    </label>

                    <label class="col"
                      [ngClass]="form.newPswd.hasError('required') || form.newPswd.hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
                      <i class="material-icons" [ngClass]="form.newPswd.hasError('required') ||
                        form.newPswd.hasError('hasSmallCase') ? 'fa fa-times' :
                        'fa fa-check'"></i>
                      {{'lowerCaseAlert' | translate}}
                    </label>

                    <label class="col"
                      [ngClass]="form.newPswd.hasError('required') || form.newPswd.hasError('hasSpecialCharacters')  ? 'text-danger' : 'text-success'">
                      <i class="material-icons" [ngClass]="form.newPswd.hasError('required') ||
                        form.newPswd.hasError('hasSpecialCharacters') ? 'fa fa-times' :
                        'fa fa-check'"></i>
                      {{'specialCharacterAlert' | translate}}
                    </label>

                  </div>

                  <div><label class="text-danger" *ngIf="showNewPswd && !form.newPswd.errors">
                      {{'showPswdAlert' | translate }}
                    </label>
                  </div>

                  <div *ngIf="!showNewPswd && !form.newPswd.errors && !form.newPswd.hasError('hasAllCase')">
                    <label class="text-success">
                      {{'strongPswdAlert' | translate}}
                    </label>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-md-12 mb-3">
              <label class="labelfont" for="renterNewPswd">{{'renterNewPswd' | translate }}</label>
              <div class="password-wrapper position-relative">
                <input id="renterNewPswd"
                  class="ett-inpt h-auto bg-transparent text-light w-100 border-0 p-0 form-control" type="password"
                  formControlName="renterNewPswd" placeholder="{{'renterNewPswd' | translate }}" required autocomplete="off"
                  [type]="showConfirmPswd ? 'text' : 'password'" />

                <app-show-password (showPswd)="showPassword($event, 'showConfirmPswd')">
                </app-show-password>

                <div *ngIf="form.renterNewPswd.touched">
                  <label class="text-danger" *ngIf="form.renterNewPswd.hasError('required')">
                    {{'renterNewPswdRequired' | translate}}
                  </label>

                  <label class="text-danger" *ngIf="showConfirmPswd && !form.renterNewPswd.errors">
                    {{'showPswdAlert' | translate }}
                  </label>

                  <label class="text-danger" *ngIf="form.renterNewPswd.hasError('mustMatch')">
                    {{'pswdMatch' | translate}}
                  </label>
                </div>

              </div>
            </div>

            <div class="col-md-12">
              <button class="btn aside-Button w-100" [disabled]="formChangePassword.invalid || showNewPswd || showConfirmPswd || showOldPswd"
                type="submit">{{ 'submitChanges' | translate}}</button>
            </div>

          </div>
        </form>
      </div>
      <div class="col-md-7">
        <h3 class="welcomeTxt m-0"><span>{{'welcomeText' | translate }}</span></h3>
        <h2 class="subHeaderTxt"><span>{{'happyTxt' | translate }}</span></h2>
        <h4 class="descriptionTxt"><span>{{'registerQuote' | translate }}</span></h4>
      </div>
    </div>
  </div>
</div>