<div class="row m-0">
  <div class="col-md-12 main-wrap">
    <div class="row blue">
      <div class="col-md-5 aside-Left-width">
        <div class="open-newaccount">
          <h5 class="headfont text-white d-inline-block">{{'chooseProduct' | translate }}</h5>
          <div class="text-white d-inline-block float-right px-1" (click)="goBackToLogin()"><i class="fa fa-arrow-left" aria-hidden="true"></i></div>
          <div class="row mb-21 term-deposit mx-0">
            <div class="col-md-2">
              <svg id="btn_icon_icon-user" aria-hidden="true" role="presentation" class="ett-icon icon-menu px24">
                <use xlink:href="#icon-user"></use>
              </svg>
            </div>
            <div class="col-md-10">
              <h5>{{'termDepositHead' | translate }}</h5>
              <p class="mb-0">{{'termDepositTxt' | translate }} </p>
              <a href="">{{'viewDetails' | translate }}</a>
            </div>
          </div>
          <div class="row mb-21 debit-card mx-0">
            <div class="col-md-2">
              <svg id="btn_icon_icon-menu" aria-hidden="true" role="presentation" class="ett-icon icon-menu px24">
                <use xlink:href="#icon-menu"></use>
              </svg>
            </div>
            <div class="col-md-10">
              <h5>{{'debitCardHead' | translate }}</h5>
              <p class="mb-0">{{'debitCardTxt' | translate }} </p>
              <a href="">{{'viewDetails' | translate }}</a>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-7  mr-0 pr-0 right-Section" id="rightSection ">
        <h3 class="welcomeTxt m-0"><span>{{'welcomeText' | translate }}</span></h3>
        <h2 class="subHeaderTxt d-block w-100"><span>{{'newaccountfirstpara' | translate }}</span></h2>
        <h4 class="descriptionTxt"><span>{{'newaccountsecondpara' | translate }}</span></h4>
      </div>
    </div>
  </div>
</div>