.open-newaccount > .row{
    background: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 1.5em;
    cursor: pointer;
}
.open-newaccount > .row svg{width: 40px;height: 44px; }

.open-newaccount > .row p{ color: #08182e;font-weight: 300;font-size: 13px;}
.open-newaccount > .row h5{ color: #08182e;font-size: 20px;font-weight: 400;}
.open-newaccount > .row a{text-transform: uppercase;font-weight: 500;color: #E07517;font-size: 13px;}
.blue .aside-Left-width {padding:1.5em 1.5em 1em}