
.sidebar {
    min-height: calc(100vh);
    background-color: #202749;
}
.sidebar .nav-link {
    font-weight: 500;
    color: #fff;
}

.navbar-top a{
    color: #111111;
}
.xac-logo{
    height: 70px;
}
.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}
.nav-icons .fa{
    font-size: 24px;
}

::ng-deep {
    // *::-webkit-scrollbar {
    // display: none;
    // }
    .cursor-pointer{
        cursor: pointer;
    }
    .pos-fixed-top0px{
        width: calc(100% - 383px);
        top: 0px;
        z-index: 999;
        position: fixed;
    }

    .microApp-frame-height{
        height:calc(100vh - 49px);
        overflow:auto;
    }
    .pos-fixed-top40px{
    width: calc(100% - 28.5%);
    top: 40px;
    z-index: 999;
    position: fixed;
    }

}

