<ng-container *ngIf="!isUserAuthorized; else microAppContainer">
  <div id="loginContainer" #loginContainer>
    <!-- Login app goes here -->
  </div>
</ng-container>
<ng-template #microAppContainer>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-3 pl-4 sidebar">
        <div class="sidebar-sticky">
          <div class="pl-3 pt-5 mb-4">
            <figure>
              <img class="xac-logo" alt="XAC Bank Logo" src="./assets/image/xaclogo-white.svg" />
            </figure>
          </div>
          <ul class="nav flex-column">
            <!-- <li class="nav-item"><a class="nav-link active" href="#/app-people/people">People</a></li> -->
            <li class="nav-item"><a class="nav-link" href="#/app-dashboard/fund-transfer">Fund transfer</a>
          </li>
          </ul>
        </div>
      </nav>
      <main role="main" class="col-md-9 pt-2 px-4 mt-5 microApp-frame-height">
        <nav class="navbar navbar-expand-md pos-fixed-top0px bg-white p-0 navbar-top">
          <div class="navbar-brand col-sm-3 col-md-2 pl-0">
            <a class="" href="javascript:void(0)">Hi User</a>
          </div> 
          <div class="navbar-collapse offcanvas-collapse col-sm-9 col-md-10 pl-0" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link active" href="javascript:void(0);" (click)="logout()">Logout</a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap pb-2 mb-3">
          <div class="main-panel w-100">
            <div id="appContainer" #appContainer>
              <!-- Web Components goes here -->
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</ng-template>
