
.register-button{
    background-color: #FF6F20;
    height: 50px;
    width: 100%;
    border: 0px;
    border-radius: 10px;
    color: #ffff;
    font-weight: 600;
    font-size: 20px;
}
.forgotUser{
    background-color: transparent;
    height: 50px;
    width: 95%;
    border: 1px solid #ffff;
    border-radius: 6px;
    color: #ffff;
    font-weight: 300;
}    
.forgotPswd{
    background-color: transparent;
    height: 50px;
    width: 105%;
    border: 1px solid #ffff;
    border-radius: 6px;
    color: #ffff;
    font-weight: 300;
    font-size: 14px; 
    text-transform: uppercase;
}
.openButton{
    background-color: transparent;
    height: 60px;
    width: 100%;
    border: 1px solid #08182E;
    color: #08182E;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 300;
    margin-top: 1em;
    padding: .33em 0.857em;
    margin: .25em;
}
.rememberTxt{
    font-size: 18px;
    color: #fff;
    font-weight: 300;
}
.registerTxt{
    font-size: 16px;
    color: #fff;
    font-weight: 300;
}

 .checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
.checkbox-round:checked {
    background-color: #00a22b;
    color: #ffff;
}  

 
 


.registerLink{
    font-size: 16px;
    color: #FECB37;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: underline;
}
.registerLink:hover{
    cursor: pointer;
    color: #FECB37;
    text-decoration: underline;
}


.register-button:disabled,
.register-button[disabled]{
  cursor: not-allowed;
}
.dob-box{
    background-color: transparent;
    border: 1px solid #6c757d;
    color: #ffff;
}
.yesRno-Chk input[type=radio]+label:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
}
.yesRno-Chk input[type=radio] + label {
    margin-left: -36px;
    line-height: 16px; 
    margin: 5px 0;
}
.yesRno-Chk{
    font-size: 13px;
    font-weight: 100;
} 
.yesRno-Chk span {display: table-cell;width:200px;}
.yesRno-Chk input[type=radio] {position: absolute;z-index: -1000;overflow: hidden;clip: rect(0 0 0 0);}
.yesRno-Chk input[type=radio]+label:before {border-radius:50%;background-color: #FFF;border: 1px solid #b2b2b2;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);height: 1.414em;margin-right: 0;width: 1.414em; }
.yesRno-Chk input[type=radio]+label:hover:before{background-color: #f2f8fa;box-shadow: none;}
.yesRno-Chk input[type=radio]:focus+label:before {background-color: #f2f8fa;box-shadow: none;} 
.yesRno-Chk input[type=radio]:checked+label:before {background-repeat: no-repeat;background-position: center center;background-size:100% auto;} 
 .yesRno-Chk input[type=radio]{width:20px; height:20px }
.yesRno-Chk input[type=radio] + label{margin-left:-36px; margin: 5px 0;line-height: 16px;background-repeat: no-repeat;color: #333;padding: 0 0 0 0;
        color: gray;cursor: pointer;}
.yesRno-Chk input[type="radio"] + label::before {background-color: #fff;border: 1px solid #999;box-shadow: none;height: 23px;
     width:23px;margin-right: 5px;} 
.yesRno-Chk input[type="radio"]:checked + label::before {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNTIgNTIiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDUyIDUyOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgd2lkdGg9IjUxMnB4IiBoZWlnaHQ9IjUxMnB4Ij48Zz48Zz48cGF0aCBkPSJNMjYsMEMxMS42NjQsMCwwLDExLjY2MywwLDI2czExLjY2NCwyNiwyNiwyNnMyNi0xMS42NjMsMjYtMjZTNDAuMzM2LDAsMjYsMHogTTQwLjQ5NSwxNy4zMjlsLTE2LDE4ICAgQzI0LjEwMSwzNS43NzIsMjMuNTUyLDM2LDIyLjk5OSwzNmMtMC40MzksMC0wLjg4LTAuMTQ0LTEuMjQ5LTAuNDM4bC0xMC04Yy0wLjg2Mi0wLjY4OS0xLjAwMi0xLjk0OC0wLjMxMi0yLjgxMSAgIGMwLjY4OS0wLjg2MywxLjk0OS0xLjAwMywyLjgxMS0wLjMxM2w4LjUxNyw2LjgxM2wxNC43MzktMTYuNTgxYzAuNzMyLTAuODI2LDEuOTk4LTAuOSwyLjgyMy0wLjE2NiAgIEM0MS4xNTQsMTUuMjM5LDQxLjIyOSwxNi41MDMsNDAuNDk1LDE3LjMyOXoiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiIGNsYXNzPSJhY3RpdmUtcGF0aCIgZGF0YS1vbGRfY29sb3I9IiMwMDAwMDAiIGZpbGw9IiMwNkE1MDAiLz48L2c+PC9nPiA8L3N2Zz4=);
        border: none;
}