<!-- <ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li *ngFor="let tab of screenName.tabs; let id = index" [ngbNavItem]="id" [disabled]="tab.tabData.disabled">
    <a ngbNavLink>
      {{tab.tabData.tabLabel}}
    </a>
    <ng-template ngbNavContent>
      <p>Tab {{ id }} content</p>
      Test content
      <ng-container *ng>

      </ng-container>
      <button class="btn btn-primary" (click)="nextTab(id)">Next</button>
    </ng-template>
  </li>
</ul>


<div [ngbNavOutlet]="nav" class="mt-2"></div>


<ul>
  <li *ngFor="let item of items | async">
    {{ item.name }}
  </li>
</ul> -->