<div class="row m-0">
    <div class="col-md-12 main-wrap">
        <div class="row blue">
            <div class="col-md-5 aside-Left-width">
                <h5 class="headfont text-white d-inline-block">{{'forgotpswd' | translate }}</h5> 
                <div class="text-white d-inline-block float-right px-1" (click)="goBackToLogin()"><i class="fa fa-arrow-left" aria-hidden="true"></i></div>
                <form [formGroup]="forgotPswdForm" (ngSubmit)="onforgotPswd()" autocomplete="off"> 
                    <div class="forgotPwd">
                        <div class="row mb-21">
                            <div class="col-md-12">
                                <label class="d-block digitNum">{{'enterUserID' | translate }}</label> 
                                <input class="ett-inpt h-auto bg-transparent text-light w-100 border-0 p-0 " type="text" formControlName="userId" placeholder="{{ 'enterUserID' | translate}}" autocomplete="off">
                            </div>
                        </div>
                        <div class="row mb-21 ">
                            <div class="col-md-12">
                                <label class="d-block digitNum">{{'emailid' | translate }}</label>
                                <input class="ett-inpt h-auto bg-transparent text-light w-100 border-0 p-0" type="text" formControlName="emailId"  placeholder="{{ 'exampleemailid' | translate}}" autocomplete="off">
                            </div>
                        </div>
                        <div class="row mb-21">
                            <div class="col-md-12">
                                <label class="d-block digitNum">{{'mobNo' | translate }}</label> 
                                <span class="row NumSpan m-0">
                                    <span class=" countryCode col-md-2 ett-inpt h-auto bg-transparent text-light  border-0 p-0">{{'countryCode' | translate}} </span>
                                    <span class="inpFeild col-md-10 p-0">
                                        <input class="ett-inpt h-auto bg-transparent text-light  border-0 p-0" type="tel" formControlName="mobile" placeholder="{{'mobsample' | translate}}" maxlength="10" 
                                        (keypress)= mobileNumValidator($event) autocomplete="off">
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="row mb-21">
                            <div class="col-md-12">
                                <button type="button" class="btn aside-Button mt-5 w-100" [disabled]="forgotPswdForm.invalid" type="submit">{{'next' | translate }}
                                </button>
                            </div>
                        </div> 
                    </div>
                </form>
            </div> 
            <div class="col-md-7  mr-0 pr-0 right-Section" id="rightSection " > 
                <h3 class="welcomeTxt m-0"><span>{{'welcomeText' | translate }}</span></h3>
                <h2 class="subHeaderTxt d-block w-100"><span>{{'pswdfirstPara' | translate }}</span></h2>
                <h4 class="descriptionTxt"><span>{{'userSecondPara' | translate }}</span></h4>
            </div>
        </div>
    </div>
</div>
